<p>Historia</p>
<p *ngIf="prefixHistory?.loadErrorMsg"><i class="fas fa-exclamation-triangle"></i> {{ prefixHistory.loadErrorMsg }} </p>
<table *ngIf="prefixHistory?.registries" class="table">
  <thead class="thead-dark">
      <tr>
          <th>Lp.</th>
          <th>Opis</th>
          <th>Data zmiany</th>
          <th>Autor</th>
      </tr>
  </thead>
  <tbody *ngFor="let registry of prefixHistory.registries; let i = index">
      <tr>
          <td> {{ i + 1 }} </td>
          <td>{{ registry?.description }}</td>
          <td>{{ registry?.date }}</td>
          <td>{{ registry?.userBasicInfoFirstName }} {{ registry?.userBasicInfoLastName }}</td>
      </tr>
  </tbody> 
</table>
