<h3>Zaliczenia - {{ occuGroup.schoolClass.startDate | yearToNumber }}{{ occuGroup.schoolClass.prefix.name }}
 - {{ occuGroup.schoolSubject.name }}</h3>
<button class="btn btn-primary" (click)="addNewCreditForOccuGroup()">Dodaj zaliczenie</button>
<!--<div id='calendar'></div>-->
<table *ngIf="credits?.length > 0" class="table table-hover">
  <thead>
  <tr class="container-fluid row-eq-height d-flex align-items-center">
    <th class="col-1 d-block">Lp.</th>
    <th class="col-2 d-block">Nazwa</th>
    <th class="col-3 d-block">Typ</th>
    <th class="col-3 d-block">Utworzenie</th>
    <th class="col-3 d-block">Start</th>
  </tr>
  </thead>
  <tbody *ngFor="let credit of credits; let i = index">
  <tr class="container-fluid d-flex flex-wrap">
    <td class="col-1 col-md-1 d-block justify-content-center align-self-center">{{ i + 1 }}</td>
    <td class="col-2 col-md-2 d-block justify-content-center align-self-center">
      <span class="align-middle h-100"> {{ credit.name }} </span>
    </td>
    <td class="col-3 col-md-3 d-block justify-content-center align-self-center">
            <span>
                {{ credit.creditType.name }}
            </span>
    </td>
    <td class="col-3 col-md-3 d-block justify-content-center align-self-center">
        <span>
            {{ credit.creationTime }}
        </span>
    </td>
    <td class="col-3 d-block justify-content-center align-self-center">
      <span>
            {{ credit.event_date }}
      </span>
    </td>
  </tr>
  </tbody>
</table>



