.bg-white {
  background: #fff;
}

#no-teacher-alert {
  display: none;
}

#no-class-alert {
  display: none;
}

.teacher-list li {
  list-style: none;
  font-size: 19px;
}

.teacher-list li button {
  padding: 1px;
}
