 
  <div class="container-fluid">
  <div>
  <div class="row" [ngClass]="{'flex-container': !loggedIn}">
      <div class="col col-md-4 col-10 col-sm-8 col-xs-10 flex-child" [hidden]="loggedIn">
        <div class="jumbotron">
            <h2 class="clean-font text-center">Logowanie</h2>
            <p class="clean-font text-center red-alert" [hidden]="loginErrorMsg == ''">{{loginErrorMsg}}</p>
    
    
            <form class="form-signin" (ngSubmit)="onSubmit()">
                <input type="text" class="form-control text-center" name="username"
                [(ngModel)]="credentials.username" placeholder="Login" required autofocus/>
                <br />

                <input type="password" class="form-control text-center" name="password" 
                [(ngModel)]="credentials.password" placeholder="Hasło" required/>

                <br/>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </div>

            </form>  
        </div> 
      </div>
  
        <div [hidden]="!loggedIn" class="col-10">
            <h2>Welcome to Admin Portal!</h2>
        </div>
    </div>
    
</div>
</div>

