<div id="prefix-container">
    <h4>Prefiksy</h4>
    <app-search-bar></app-search-bar>
    <p [hidden]="!noPrefixes">Brak prefiksów w bazie</p>
    <app-error-banner [message]="errorMessage"></app-error-banner>

    <p>Prefiksy</p>

    <table *ngIf="(prefixes)?.length > 0" [hidden]="noPrefixes" class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Lp.</th>
                <th>Nazwa</th>
                <th>Data utworzenia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prefix of prefixes; let i = index">
                <td>{{ i }}</td>
                <td>{{ prefix?.name }}</td>
                <td>{{ prefix?.creationTime }}</td>
            </tr>
        </tbody> 
    </table>
</div>
