<form>
  <div class="row" id="validation-error" *ngIf="actionResultMsg">
    <div class="col-sm-10 offset-2">
        <p><i class="fas fa-exclamation-triangle"></i> {{ actionResultMsg }} </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2  d-flex justify-content-end align-self-center">
      <span>Nowa nazwa:</span>
    </div>
    <div class="col-sm-3 align-middle">
      <input type="text" [(ngModel)]="newPrefixVersion.name" class="form-control" [ngModelOptions]="{standalone: true}"/> 
    </div>
    <div class="col-sm-3 d-flex justify-content-right">
        <button class="btn btn-secondary" (click)="updatePrefix()">Zatwierdź</button>
    </div>
  </div>
</form>