<h4>Klasy szkolne</h4>
<table *ngIf="schoolClasses?.length > 0" class="table table-hover">
  <thead>
      <tr class="container-fluid row-eq-height d-flex align-items-center">
          <th class="col-1 d-block">Lp.</th>
          <th class="col-2 d-block">Klasa/Rok</th>
          <th class="col-3 d-block">Prefix</th>
          <th class="col-3 d-block">Typ</th>
          <th class="col-3 d-block">Operacje</th>
      </tr>
  </thead>
    <tbody *ngFor="let schoolClass of schoolClasses; let i = index">
      <tr class="container-fluid d-flex flex-wrap">
          <td class="col-1 col-md-1 d-block justify-content-center align-self-center">{{ i + 1 }}</td>
          <td class="col-2 col-md-2 d-block justify-content-center align-self-center">
            <span class="align-middle h-100"> {{ schoolClass.startDate | yearToNumber }} </span>
          </td>
          <td class="col-3 col-md-3 d-block justify-content-center align-self-center">
            <span>
                {{ schoolClass.prefix.name }}
            </span>
          </td>
          <td class="col-3 col-md-3 d-block justify-content-center align-self-center">
                <span>
                    {{ schoolClass.type.name }}
                </span>
              </td>
          <td (click)="showOperationSection(i)" class="col-3 d-md-none d-block justify-content-center align-self-center">
              <i id="btn-op-section-{{i}}" class="fas fa-angle-right transition"></i>
          </td> 
          <td id="operations-section-{{i}}" class="col-12 col-md-3 d-none d-md-block justify-content-center align-self-center">
              <button title="Edytuj" class="btn btn-warning" (click)="modifyClass(i)"><i class="far fa-edit"></i></button>
              <button title="Usuń" (click)="deleteSchoolClasss(i)" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
              <button title="Więcej" (click)="showMoreInfoSection(i)" class="btn grey-blue"><i class="fas fa-expand-arrows-alt"></i></button>
          </td>  
      </tr>
      <app-school-class-more-info id="school-class-more-info-sec-{{i}}" [schoolClass]="schoolClass"></app-school-class-more-info>
  </tbody> 
</table>
