
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">eStudent</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item school-classes">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/classes']"><i class="fas fa-graduation-cap"></i>Klasy<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item users">
                    <a class="nav-link" href=""><i class="fas fa-users"></i>Użytkownicy</a>
                </li>
                <li class="nav-item classrooms">
                    <a class="nav-link" href=""><i class="fas fa-building"></i>Sale lekcyjne</a>
                </li>
                <li class="nav-item student-groups">
                    <a class="nav-link" href=""><i class="fas fa-object-group"></i>Grupy zajęciowe</a>
                </li>
                <li class="nav-item school-subjects">
                    <a class="nav-link" href=""><i class="fas fa-clipboard"></i>Przedmioty</a>
                </li>
                <li class="nav-item register">
                    <a class="nav-link" href=""><i class="fas fa-book"></i>Rejestr</a>
                </li>
            </ul>
        </div>
    </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>