
<div class="container-fluid">
  <header>
    <h1>eStudent</h1>
  </header>
  <div id="sidenav">
      <ul>
          <li class="school-class-pod pod">
            <div class="pod-image">
                <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="pod-title">
              Klasy
            </div>
          </li>
          <li class="users-pod pod">
              <div class="pod-image">
                  <i class="fas fa-users"></i>
              </div>
              <div class="pod-title">
                  Użytkownicy
              </div>
          </li>
          <li class="classrooms-pod pod">
              <div class="pod-image">
                  <i class="fas fa-building"></i>
                </div>
                <div class="pod-title">
                    Sale lekcyjne
                </div>
          </li>
          <li class="ocupational-group-pod pod">
              <div class="pod-image">
                  <i class="fas fa-object-group"></i>
                </div>
                <div class="pod-title">
                    Grupy zajęciowe
                </div>
          </li>
          <li class="school-subjects-pod pod">
              <div class="pod-image">
                  <i class="fas fa-clipboard"></i>
                </div>
                <div class="pod-title">
                    Przedmioty
                </div>
          </li>
          <li class="register-pod pod">
              <div class="pod-image">
                  <i class="fas fa-book"></i>
                </div>
                <div class="pod-title">
                    Rejestr
                </div>
          </li>
      </ul>
  </div>
  <main>
    <div class="row">
      <div class="col-6 col-sm-4">
            <div class="school-classes card">
                    <i class="fas fa-graduation-cap"></i>
                    <p>Klasy</p>
            </div>
        </div>
      <div class="col-6 col-sm-4">
            <div class="users card">
                <i class="fas fa-users"></i>
                <p>Użytkownicy</p>  
            </div>
      </div>
      <div class="col-6 col-sm-4">
            <div class="classrooms card">
                <i class="fas fa-building"></i>
                <p>Sale lekcyje</p>     
            </div>
     </div>
      <div class="col-6 col-sm-4">
            <div class="student-groups card">
                <i class="fas fa-object-group"></i>
                <p>Grupy zajęciowe</p>        
            </div>
      </div>
      <div class="col-6 col-sm-4">
            <div class="school-subjects card">
                <i class="fas fa-clipboard"></i>
                <p>Przedmioty</p>        
            </div>
      </div>
      <div class="col-6 col-sm-4">
            <div class="register card">
                <i class="fas fa-book"></i>
                <p>Rejestr</p>        
            </div>
      </div>
    </div>
  </main>
</div>