<div id="prefix-container">
    <h4>Prefiksy</h4>
    <app-search-bar (showAddFormTrigger)="showAddForm = !showAddForm"></app-search-bar>
    <app-message-banner [banerInfo]="banerInfo"></app-message-banner>
    <app-admin-prefixes-add [hidden]="!showAddForm" (showMessageResultTrigger)="showAddSetMessageResult($event)"></app-admin-prefixes-add>

    <table *ngIf="(prefixes)?.length > 0" [hidden]="noPrefixes" class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Lp.</th>
                <th>Nazwa</th>
                <th>Data utworzenia</th>
                <th>Operacje</th>
            </tr>
        </thead>
        <tbody *ngFor="let prefix of prefixes; let i = index">
            <tr >
                <td class="align-middle">{{ i + 1 }}</td>
                <td class="align-middle">{{ prefix?.name }}</td>
                <td class="align-middle">{{ prefix?.creationTime }}</td>
                <td class="d-flex justify-content-center">
                    <button title="Edytuj" class="btn btn-warning" (click)="editSection(i)"><i class="far fa-edit"></i></button>
                    <button (click)="showDeleteModal(i)" title="Usuń" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
            <tr id="editPrefixSection{{i}}" [hidden]="true"> 
                <td colspan="4" class="align-middle">
                    <app-admin-prefix-edit [prefix]="prefix"></app-admin-prefix-edit>
                </td>
            </tr>
        </tbody> 
    </table>

    <app-two-buttons-modal #twoButtonsModal (requestTrigger)="deletePrfixRequest()" [modalData]="modalData">
    </app-two-buttons-modal>
</div>
