<div id="prefix-container">
    <h4>Prefiksy</h4>
    <app-search-bar (showAddFormTrigger)="showAddForm = !showAddForm"></app-search-bar>
    <app-message-banner [banerInfo]="banerInfo"></app-message-banner>
    <app-admin-prefixes-add [hidden]="!showAddForm" (showMessageResultTrigger)="showAddSetMessageResult($event)"></app-admin-prefixes-add>

    <table *ngIf="(prefixes)?.length > 0" [hidden]="noPrefixes" class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Lp.</th>
                <th>Nazwa</th>
                <th>Data utworzenia</th>
                <th>Operacje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prefix of prefixes; let i = index">
                <td class="align-middle">{{ i + 1 }}</td>
                <td class="align-middle">{{ prefix?.name }}</td>
                <td class="align-middle">{{ prefix?.creationTime }}</td>
                <td class="d-flex justify-content-center">
                    <button title="Edytuj" class="btn btn-warning"><i class="far fa-edit"></i></button>
                    <button (click)="showDeleteModal(i)" title="Usuń" class="btn btn-danger"><i class="far fa-trash-alt"></i></button> 
                </td>
            </tr>
        </tbody> 
    </table>

    <app-two-buttons-modal #twoButtonsModal (requetTrigger)="deletePrfixRequest()" [modalData]="modalData">
    </app-two-buttons-modal>
</div>
