<div id="prefix-container">
    <h4>Prefiksy</h4>
    <app-search-bar (showAddFormTrigger)="showAddForm = !showAddForm"></app-search-bar>
    <app-message-banner [banerInfo]="banerInfo"></app-message-banner>
    <app-admin-prefixes-add [hidden]="!showAddForm" (showMessageResultTrigger)="showAddSetMessageResult($event)"></app-admin-prefixes-add>

    
        <table *ngIf="(prefixes)?.length > 0" [hidden]="noPrefixes" class="table table-hover">
            <thead class="thead-dark">
                <tr class="container-container d-flex">
                    <th class="col-3 d-block">Lp.</th>
                    <th class="col-3 d-block">Nazwa</th>
                    <th class="col-3 d-block">Data utworzenia</th>
                    <th class="col-3 d-block">Operacje</th>
                </tr>
            </thead>
            <tbody *ngFor="let prefix of prefixes; let i = index">
                <tr class="container-fluid d-flex flex-wrap">
                    <td class="col-3 col-md-3 d-block justify-content-center align-self-center">{{ i + 1 }}</td>
                    <td class="col-3 col-md-3 d-block justify-content-center align-self-center"><span class="align-middle h-100">{{ prefix?.name }}</span></td>
                    <td class="col-3 col-md-3 d-block justify-content-center align-self-center">{{ prefix?.creationTime }}</td>
                    <td click="showOperationSection(i)" class="col-3 d-md-none d-block justify-content-center align-self-center"><i class="fas fa-angle-right"></i></td> 
                    <td id="operations-section-{{i}}" class="col-12 col-md-3 d-none d-md-block justify-content-center align-self-center">
                        <button title="Edytuj" class="btn btn-warning" (click)="editSectionNew(i)"><i class="far fa-edit"></i></button>
                        <button title="Historia" class="btn btn-info" (click)="showPrefixHistory(i)"><i class="fas fa-history"></i></button>
                        <button title="Usuń" (click)="showDeleteModal(i)" title="Usuń" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>  
                </tr>
                <tr id="editPrefixSection{{i}}" *ngIf="editingPrefixIndex == i"> 
                    <td colspan="4" class="align-middle">
                        <app-admin-prefix-edit [prefix]="prefix"></app-admin-prefix-edit>
                    </td>
                </tr>
                <tr *ngIf="isHistoryPrefixViewActive[i]">
                    <td colspan="4" class="align-middle">
                        <app-admin-prefix-history [prefixHistory]="prefixes[i].prefixHistory" #(historyPrefixSection{{i}})></app-admin-prefix-history>
                    </td>
                </tr>
            </tbody> 
        </table>
   

    <app-two-buttons-modal #twoButtonsModal (requestTrigger)="deletePrfixRequest()" [modalData]="modalData">
    </app-two-buttons-modal>
</div>
