
table {
    font-size: 14px;
    background: #fff;
    margin: 16px 0;
}

table td, table th {
    text-align: center;
}


table tbody tr td button {
    margin-right: 5px;
    transition: all .4s;
}

table tbody tr td button:hover {
    transform: scale(1.2);
}

button-margins {
    margin: 0;
}

tbody tr div {
    clear: both;
    display: block;
}

.operation-cell {
    border: 0;
}
 
table tbody:nth-child(even) {
    background: rgba(244, 244, 244, 1);
}

table tbody:nth-child(odd) {
    background: rgba(255, 255, 255, 1);
}