
.search-bar-container > * {
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}

button {
    
}

button.search-button {
    margin-right: -8px;
    margin-left: 0px !important;
}

.search-button-img {
    transition: all .5s;
}

.rotate-90 {
    transform: rotate(90deg);
}

 
input.search-field {
    height: 38px;
    margin-left: 0px;
    padding: 0 5px;
}

input.search-field:focus {
    margin-top: 1px;
    height: 36px;
}

.clear-fix {
    clear: both;
}
