<div class="user-info-extended">
  <div class="info-section">
      <div class="title">Informacje podstawowe</div>
      <div class="row info">
        <div class="col"> Rok utworzenia: <span class="info-entity">{{ schoolClass?.startDate | date:'dd.MM.yyyy' }}</span></div>
        <div class="col"> Typ:  <span class="info-entity">{{ schoolClass?.type?.name }}</span></div>
        <div class="col"> Prefiks: <span class="info-entity">{{ schoolClass?.prefix?.name }}</span></div>
      </div>
      <div row="row info">
        <div class="col d-flex justify-content-center"> 
            Specjalizacje: &#160; 
           <span *ngFor="let spec of schoolClass?.classSpecializationList" class="info-entity"> 
              {{ spec.name + '&#160;' }}
            </span>
            <!-- <ul>
              <li *ngFor="let spec of schoolClass?.classSpecializationList" class="info-entity">
                {{ spec.name }}
              </li>
            </ul> -->
        </div>
      </div>
  </div>
  <div class="info-section">
    <div class="title py-0 mb-0">Wychowawca</div>
    <div class="row py-0">
      <div class="col">
        <app-found-user-list [infoOnly]="true" [users]="[schoolClass?.tutor]" [isSearchResultForm]="true"></app-found-user-list>
      </div>
    </div>
  </div>
  <div class="info-section">
    <div class="title py-0 mb-0">Uczniowie</div>
      <div class="row py-0">
      <div class="col">
        <app-found-user-list [infoOnly]="true" [users]="schoolClass?.students" [isSearchResultForm]="true"></app-found-user-list>
      </div>
    </div>
  </div>
</div>
