<p>{{ viewService.message }}</p>
<form>
  <div class="form-row">
    <div class="col">
      <input class="form-control" type="text" placeholder="Imię" name="firstName"
        #firstName [(ngModel)]="userParams.firstName" (focusout)="viewService.validateFirstName(firstName.value)"/>
    </div>
    <div class="col">
      <input class="form-control" type="text" placeholder="Nazwisko" name="lastName"
      #lastName [(ngModel)]="userParams.lastName" (focusout)="viewService.validateSecondName(lastName.value)"/>
    </div>
    <div class="col">
      <input class="form-control" type="text" placeholder="Pesel" name="pesel"
      [textMask]="{mask: viewService.peselMask}"
      #pesel [(ngModel)]="userParams.pesel" (focusout)="viewService.validatePesel(pesel.value)"/>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="onSearchButtonClick()"><i class="fas fa-search"></i></button>
    </div>
  </div>
</form>
