<div id="add-edit-user-sec">
    <form>
        <div class="sec">
            <div class="title-section">
                <p>Główne dane</p>
            </div>
            <div class="form-row">
                <div class="col">
                    <div id="name-invalid" class="valid-err">
                        <p><i class="fas fa-exclamation-triangle"></i> Imię jest w niewłaściywym formacie.</p>
                    </div>
                    <input type="text" class="form-control" id="first-name" #firstName 
                        [(ngModel)]="user.basicInfo.firstName" name="firstName"
                        placeholder="Imię" autofocus (focusout)="viewService.validateFirstName(firstName.value)">
                </div>
                <div class="col">
                    <div id="surname-invalid" class="valid-err">
                        <p><i class="fas fa-exclamation-triangle"></i> Nazwisko jest w niewałściywym formacie.</p>
                    </div>
                    <input type="text" class="form-control" id="second-name" #secondName
                        [(ngModel)]="user.basicInfo.lastName" name="lastName"
                        placeholder="Nazwisko" (focusout)="viewService.validateSecondName(secondName.value)">
                </div>
                
            </div>
            <div class="form-row">
                <div class="col">
                    <div id="pesel-invalid" class="valid-err">
                        <p><i class="fas fa-exclamation-triangle"></i> Pesel jest w niewałściywym formacie.</p>
                    </div>
                    <input type="text" class="form-control" [textMask]="{mask: viewService.mask.pesel}"
                        [(ngModel)]="user.basicInfo.pesel" name="pesel"
                        #pesel id="pesel" (focusout)="viewService.validatePesel(pesel.value)" placeholder="Pesel">
                </div>
            </div>
        </div>
        <div class="sec">
            <div class="title-section">
                <p>Dane Kontaktowe</p>
            </div> 
                
            <div class="form-row">
                <div class="col">
                    <div id="zip-code-invalid" class="valid-err">
                        <p><i class="fas fa-exclamation-triangle"></i> Kod pocztowy jest w niewłaściywym formacie.</p>
                    </div>
                    <input type="text" class="form-control" id="zip-code" [textMask]="{mask: viewService.mask.zipCode}"
                        [(ngModel)]="user.contactInfo.address.zipCode.name" name="zipCode"
                        #zipCode (focusout)="viewService.validateZipCode(zipCode.value)" placeholder="Kod Pocztowy">
                </div>    
                <div class="col">
                    <div id="city-name-invalid" class="valid-err">
                        <p><i class="fas fa-exclamation-triangle"></i> Nazwa miasta jest w niewłaściywym formacie.</p>
                    </div>
                    <input type="text" class="form-control" id="city-name" 
                        [(ngModel)]="user.contactInfo.address.city.name" name="city"
                        #cityName (focusout)="viewService.validateCityName(cityName.value)" placeholder="Miasto">
                </div>    
                <div class="col">
                    <div id="street-name-invalid" class="valid-err">
                        <p><i class="fas fa-exclamation-triangle"></i> Ulica jest w niewłaściywym formacie.</p>
                    </div>
                    <input type="text" class="form-control" id="street-name"
                    [(ngModel)]="user.contactInfo.address.street.name" name="street"
                    #streetName (focusout)="viewService.validateStreetName(streetName.value)" placeholder="Ulica">
                </div>
            </div>
        
            <div class="form-row">
                <div class="col">
                    <div id="house-number-invalid" class="valid-err">
                        <p><i class="fas fa-exclamation-triangle"></i> Numer domu jest w niewłaściywym formacie.</p>
                    </div>
                    <input type="number" class="form-control" id="house-number"
                    [(ngModel)]="user.contactInfo.address.houseNumber" name="houseNumber"
                    #houseNumber (focusout)="viewService.validateHouseNumber(houseNumber.value)" placeholder="Nr domu">
                </div>
                <div class="col">
                    <div id="apartment-number-invalid" class="valid-err">
                        <p><i class="fas fa-exclamation-triangle"></i> Numer mieszkania jest w niewłaściywym formacie.</p>
                    </div>
                    <input type="number" class="form-control" id="apartment-number"
                        [(ngModel)]="user.contactInfo.address.apartmentNumber" name="apartmentNumber"
                        #apartmentNumber (focusout)="viewService.validateApartmentNumber(apartmentNumber.value)" placeholder="Nr lokalu">
                </div>
            </div>
        
            <div class="form-row">
                <div class="col">
                    <div id="voivodeship-invalid" class="valid-err">
                        <p><i class="fas fa-exclamation-triangle"></i> Nazwa województwa jest w niewłaściywym formacie.</p>
                    </div>
                    <input type="text" class="form-control" id="voivodeship-name"
                    [(ngModel)]="user.contactInfo.address.voivodeship.name" name="voivodeship"
                    #voivodeship (focusout)="viewService.validateVoivodeshipName(voivodeship.value)" placeholder="Województwo">
                </div>
            </div>
        
            <div class="form-row">
                <div class="col">
                    <div id="phone-number-invalid" class="valid-err">
                        <p><i class="fas fa-exclamation-triangle"></i> Numer telefonu jest w niewłaściywym formacie.</p>
                    </div>
                    <input type="number" class="form-control" id="phone-number"
                    [(ngModel)]="user.contactInfo.phoneNumber" name="phoneNumber"
                        #phoneNumber (focusout)="viewService.validatePhoneNumber(phoneNumber.value)" placeholder="Nr telefonu">
                </div>
                <div class="col">
                    <div id="email-invalid" class="valid-err">
                        <p><i class="fas fa-exclamation-triangle"></i> email jest w niewłaściywym formacie.</p>
                    </div>
                    <input type="email" class="form-control" id="email"
                    [(ngModel)]="user.contactInfo.email" name="email"
                        #email (focusout)="viewService.validateEmail(email.value)" placeholder="email">
                </div>
            </div>
        </div>

        <div class="sec">
            <div class="title-section">
                <p>Informacje o narodzinach</p>
            </div>
            <div class="form-row">
                <div class="col">
                    <div id="born-date-invalid" class="valid-err">
                        <p>Data urodzenia ma niewłaściywy format.</p>
                    </div>
                    <input type="date" class="form-control"
                    [(ngModel)]="user.bornInfo.bornDate" name="bornDate"
                    #dateBorn (focusout)="viewService.validateBornDate(dateBorn.value)">
                </div>
                <div class="col">
                    <div id="born-city-invalid" class="valid-err">
                        <p>Nazwa miasta jest w niewłaściywym formacie.</p>
                    </div>
                    <input type="text" class="form-control" id="born-city" placeholder="Miasto"
                    [(ngModel)]="user.bornInfo.city.name" name="bornCity"
                        #bornCity (focusout)="viewService.validateBornCityName(bornCity.value)">
                </div>
                <div class="col">
                    <div id="born-voivodeship-invalid" class="valid-err">
                        <p>Nazwa województwa jest w niewłaściywym formacie.</p>
                    </div>
                    <input type="text" class="form-control" id="born-voivodeship" placeholder="Województwo"
                        [(ngModel)]="user.bornInfo.voivodeship.name" name="voivodeship"
                        #bornVoivodeship (focusout)="viewService.validateBornVoivodeshipName(bornVoivodeship.value)">
                </div>
            </div>
        </div>

        <div id="form-button-sec" class="form-row">
            <div class="col">
                <button class="btn btn-primary" (click)="addUser()">{{ titleSubmitButton }}</button>
            </div>
        </div>
    </form>
</div>

